
.App {
  text-align: center;
}

.App-logo {
  width: 40vmin;
  height: 40vmin;
  border-radius: 50%;
  border: .67vmin solid #61DAFB;
  /* filter: drop-shadow(.5vmin .5vmin 0px #61DAFB); */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header h1 {
  color: white;
  margin-top: 3vmin;
  margin-bottom: 3vmin;
  margin-left: 1em;
  margin-right: 1em;
  font-size: calc(10vmin);
  color: white;
}

.social-links {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.social-links li {
  font-size: calc(3vmin);
  display: inline;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.social-link {
  color: #61dafb;
}
